html {
  background-color: #F5F5DC;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
 font-size: 500%;
 font: serif;
}
ft1 {
  background-color: green;
  text-align: center;
  border: 1px;
  padding: 10px;
  font-size: 200%;
}

h2 {
  font-size: 300%;
}
.titles{
  text-align: center;
  font-size: 200%;
}

#form_message input,textarea{
	border-radius: 10px;
  width: 20%;
  text-align: center;
}

#submit{
	height: 50px;
  text-align: center;
  font-size: 200%;
}

#form_message h2{
	text-align: center;
}